.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  height: 100%;

  &__notes {
    background: #ecf0f1;
    padding: 1em;
    gap: 1em;
    border-radius: 8px;

    &__in {
      background-color: lightcyan;
      border-radius: 8px;
      padding: 1em;
    }
    &__out {
      background-color: lightgrey;
      border-radius: 8px;
      padding: 1em;
    }
  }
  &__notes:hover {
    border: 2px solid #f1c40f;
  }
}
@media (max-device-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    &__notes {
      background: black;
      padding: 1em;
      gap: 1em;
      border-radius: 8px;

      &__in {
        background-color: black;
        border-radius: 8px;
        padding: 1em;
      }
      &__out {
        background-color: lightgrey;
        border-radius: 8px;
        padding: 1em;
      }
    }
    &__notes:hover {
      border: 2px solid #f1c40f;
    }
  }
}
