.form-container {
  background-color: #e2e2e2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    height: 180px;
    background-color: #fff;
    padding: 16px;
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
